<section class="contact">
    <article class="contact__container">
        <div class="contact__container__box">
            <img src="assets/images/phone__icon.png" alt="Phone Icon" class="contact__container__box__image">
            <h1 class="contact__container__box__title">Phone Number</h1>
            <h3 class="contact__container__box__text">11 9467398123</h3>
            <h3 class="contact__container__box__text">11 9673902315</h3>
        </div>
        <div class="contact__container__box">
            <img src="assets/images/adress__icon.png" alt="Map Icon" class="contact__container__box__image">
            <h1 class="contact__container__box__title">Our Adress</h1>
            <h3 class="contact__container__box__text">SP - Vila Olimpia</h3>
        </div>
        <div class="contact__container__box">
            <img src="assets/images/clock__icon.png" alt="Clock Icon" class="contact__container__box__image">
            <h1 class="contact__container__box__title">Opening Hours</h1>
            <h3 class="contact__container__box__text">17:00pm - 02:00am</h3>
        </div>
        <div class="contact__container__box">
            <img src="assets/images/email__icon.png" alt="Email Icon" class="contact__container__box__image">
            <h1 class="contact__container__box__title">Email Adress</h1>
            <h3 class="contact__container__box__text">pizzeria-lovers&#64;hotmail.com</h3>
            <h3 class="contact__container__box__text">pizza-vo&#64;outlook.com</h3>
        </div>
    </article>

</section>

