$primary-blue: rgb(32, 123, 188);
$light-black: rgb(48,51,48);
$light-grey: rgb(243,245, 242);
$grey: rgb(151, 153, 150);
$yellow: rgb(251,151,9);
$red : rgb(244, 90, 54);

.products {
    display: flex;
    flex-direction: column;
    &__add {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        &__title {
            font-size: 30px;
            font-weight: 900;
            margin-top: 20px;
        }

        &__form {
            width: 50%;
            border: 2px solid gray;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 2px 5px rgb(192, 193, 191);
            @media only screen and (max-width: 800px){
                & {
                    width: 90%;
                }
            }
        }
    }

    &__added {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        &__title {
            font-size: 30px;
            font-weight: 900;
            margin-top: 30px;
        }

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
            width: 75%;


            & > * {
                width: 300px;
            }
        }
    }
}