$light-black: rgb(48,51,48);
$light-grey: rgb(243,245, 242);
$grey: rgb(151, 153, 150);
$yellow: rgb(251,151,9);
$red : rgb(244, 90, 54);

.user__cart {
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    &__close {
        width: 90%;
        text-align: end;
        color: $red;
        font-size: 25px;
        margin: 20px 0 20px 0;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__no__products__text {
        font-size: 30px;
        color: $light-black;
        font-weight: bold;
        width: 90%;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;

        &__product {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgb(220, 219, 219);
            padding: 10px;
            height: fit-content;
            background-color: white;
            &__left {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32%;

                &__image {
                    width: 80px;
                    height: 80px;
                }

            }
            &__center{
                display: flex;
                flex-direction: column;
                width: 64%;
                &__top {
                    width: 100%;
                    padding: 10px 0;
                    &__name {
                        color: $light-black;
                        font-size: 18px;
                        font-weight: bold;

                        span {
                            color: $red
                        }
                    }
                }

                &__bottom {
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    justify-content: space-between;

                    &__qty {
                        width: 80px;
                        border: 1px solid $light-black;
                        border-radius: 5px;
                        padding: 0px 5px;
                    }

                    &__edit {
                        width: 60px;
                        padding: 10px;
                        background-color: $light-grey;
                        border: none;
                        border-radius: 5px;

                        &__image {
                            width: 15px;
                            height: 15px;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            &__right {
                display: flex;
                width: 4%;
                align-items: flex-start;
                justify-content: flex-start;

                &__remove {
                    font-size: 20px;
                    font-weight: normal;
                    color: $red;
                    border: none;
                    background-color: white;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }


        &__total__price {
            display: flex;
            align-self: center;
            width: 90%;
            text-align: start;
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
            span {
                margin-left: 5px;
                color: $red;
            }
        }
        
        &__order {
            width: 90%;
            margin-top: 10px;
            background-color: rgb(231, 76, 60);
            color: white;
            padding: 10px 0;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;

            &:hover {
                background-color: $light-black;
                cursor: pointer;
            }
        }
    }
    
}