<main class="user__orders">
    <h3 class="user__orders__close" (click)="closePage()">X</h3>
    @if (!isLogged()) {
        <h1 class="user__orders__no__account" >You haven't done a login or register in a valid account!</h1>
    }
    @if (userOrders().length <= 0 && isLogged()) {
        <h1 class="user__orders__no__products__text">You haven't ordered anything in this account!</h1>
    }
    @if (userOrders().length > 0 && isLogged()) {
        <section class="user__orders__container">
            <h1 class="user__orders__container__title">My Orders</h1>
            @for (order of userOrders(); track $index) {
                <article class="user__orders__container__order">
                    <p class="user__orders__container__order__info">Placed on: <span>{{order.date}}</span></p>
                    <p class="user__orders__container__order__info">Name: <span>{{order.userName}}</span></p>
                    <p class="user__orders__container__order__info">Number: <span>{{order.phone}}</span></p>
                    <p class="user__orders__container__order__info">Address: <span>{{order.adress}}</span></p>
                    <p class="user__orders__container__order__info">Payment Method: <span>{{order.payment}}</span></p>
                    <p class="user__orders__container__order__info">Your Orders: <span>{{order.products}}</span></p>
                    <p class="user__orders__container__order__info">Total price: <span>{{order.totalPrice}}</span></p>
                    <p class="user__orders__container__order__info">Payment Status: <span>{{order.status}}</span></p>
                </article>
            }
        </section>
    }
</main>