$light-black: rgb(48,51,48);
$yellow: rgb(251,151,9);
$red : rgb(244, 90, 54);
$light-grey: rgb(243,245, 242);
$grey: rgb(151, 153, 150);

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__title {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        gap: 15px;

        & > * {
            width: 770px;
        }

        &__especific {
            height: fit-content;
            box-shadow: 0 2px 5px rgb(192, 193, 191);
            
            &__top {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 20px;
                background-color: $light-black;
                transition: 0.5s;
                &__text {
                    font-size: 20px;
                    font-weight: normal;
                    color: white;
                }

                &__arrow {
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    rotate: 90deg;
                    transition: 0.5s;
                }

            }

            &__bottom {
                display: none;
                width: 100%;
                padding: 20px;
                background-color: white;
                color: $grey;
                font-weight: normal;
            }

            &.active {
                .faq__container__especific__top {
                    background-color: rgb(231, 76, 69);

                    &__arrow {
                        rotate: -90deg;
                    }
                }

                .faq__container__especific__bottom {
                    display: block;
                }

            }

            &:hover {
                cursor: pointer;
            }
        }

        @media only screen and (max-width:771px) {
            & > * {
                width: 75%;
                margin-right: 20px;
            }
        }
    }
}