@if (formAccount) {
    <form class="account__form" [formGroup]="formAccount">
        <h1 class="account__form__title">{{formTitle | uppercase}}</h1>
        @if(this.accountType.includes('admin') || this.accountType.includes('user') && this.formType.includes('register')) {
            <input 
                type="text" 
                class="account__form__input"
                placeholder="Enter {{formType.includes('register')? 'a': 'your'}} {{formType.includes('update')? 'new': ''}} username"
                formControlName="username"
            >
        }
        @if (this.accountType.includes('user')) {
            <input 
                type="text" 
                class="account__form__input"
                placeholder="Entre {{formType.includes('register')? 'a': 'your'}} e-mail"
                formControlName="email"
            >
        }
        <input 
            type="password" 
            class="account__form__input"
            placeholder="Enter {{formType.includes('register')? 'a': 'your'}} {{formType.includes('update')? 'old': ''}} password"
            formControlName="password"
        >
        @if (formType.includes('update')) {
            <input 
                type="password"
                class="account__form__input"
                placeholder="Enter a new password"
                formControlName="newPassword"
            >
        }

        @if (formType.includes('update') || formType.includes('register')) {
            <input 
                type="password"
                class="account__form__input"
                placeholder="Confirm your new password"
                formControlName="confirmPassword"
            >
        }
            
        <div class="account__form__div">
            @switch (this.accountType) {
                @case ('user') {
                    <button 
                        style="background-color: rgb(244, 90, 54);" 
                        (click)="formAction()"
                        class="account__form__div__button"  
                        >{{buttonText}}
                    </button>
                }
                @default {
                    <button 
                        style="background-color: rgb(32, 123, 188);" 
                        (click)="formAction()"
                        class="account__form__div__button"  
                        >
                        {{buttonText}}
                    </button>
                }
            }
        </div>
    </form>
}    
